:root{
    --quote: url(https://cdn.jsdelivr.net/gh/Cansei-De-Ser-Gato/li_cdsg/assets/quot_start.svg);

    --body_f_family:"Arboria";
    --body_f_size:"14px";
    
    --header_f_size:15px;
    --header_f_family:"Arboria";
    --header_f_color:#000;
    --header_f_color_h:#000;
    --header_i_height:22px;
    

    --menu_f_size:14px;
    --menu_icon_height:154px;
    --menu_banner_f_size:36px;
    --menu_banner_f_family:"Arboria";
    --menu_btn_f_size:12px;
    --menu_btn_f_family:"Arboria";

    --topbar_f_size:12px;
    --topbar_f_family:"Arboria";
    --topbar_i_height:14px;
    --topbar_arrow_height: 8.5px;

    --product_list_title_f_size:20px;
    --product_list_title_f_color:#1e1e1e;
    --product_list_price_f_size:20px;
    --product_list_price_strike_f_size:12px;
    --product_list_strike_f_color:#979797;
    --product_list_f_family:"Arboria";

    --product_list_see-more_f_size:16px;

    --slider_circle_arrow_height:30px;

    --product_list_side_banner_title_f_size:48px;
    --product_list_side_banner_button_f_size:16px;

    --transition:all .2s ease-in;

    --green: #39E241;
    --violet:#B49CFF;

    --title_f_size: 55px;
    --title_f_family:"Arboria";
    --title_f_color:#1e1e1e;

    --categoryIconList_f_size:15px;
    --categoryIconList_f_color:#1e1e1e;
    --categoryIconList_f_family:"Arboria";

    --categoryIconList-item_f_size:14px;
    --categoryIconList-item_f_color:#1e1e1e;
    --categoryIconList-item_f_family:"Arboria";

    --testimonial_content_f_size:18px;
    --testimonial_name_f_size:14px;

    --benefits_f_size:13px;

    --newsletter_text_f_size:20px;
    --newsletter_title_f_size:32px;

    --newsletter_btn_f_size:18px;

    --footer_title_f_size:20px;
    --footer_menu_f_size:14px;

    --instafeed_title_f_size:20px;


    --search_input_f_size:36px;
    --search_product_f_size:16px;

    --breadcrumb_f_size:14px;

    --forbiden_f_title:40px;
    --forbiden_f_text:19px;

    --faq_header_f_text:45px;
    --faq_menu_f_text:14px;
    --faq_f_title:25px;
    --faq_f_text:20px;
}

/* LI RESET */

.row:before, .row:after {
display:none;
}
body{
    background:transparent;
    overflow-x:hidden;
}
body,
button, a,
p,
span,
div,
input{
    font-family:var(--body_f_family);
    font-size:var(--body_f_size);
}
h1,
h2,
h3,
h4,
h5,
.titulo{
    font-family:var(--body_f_family);
}
a:hover,
a{text-decoration: none;}
*{box-sizing:border-box}
.conteiner-principal .conteiner{box-shadow:0px 0px 0px}
.container,
.conteiner{
    max-width:1320px;
    padding-right: var(--bs-gutter-x,.75rem)!important;
    padding-left: var(--bs-gutter-x,.75rem)!important;
}

#barraTopo,
.barra-inicial{display:none!important;}



/* [apx_load="functions"] */
[apx_load="functions"]{}
[apx_load="functions"] .carrinho{border:0}
[apx_load="functions"] .carrinho-interno-ajax,
[apx_load="functions"]  .carrinho span{display:none!important}

[apx_load="functions"] .carrinho > a strong.qtd-carrinho{
    display: block!important;
    position: absolute;
    font-size: 10px;
    right: -7px;
    bottom: -7px;
    top: auto;
    left: auto;
    background: #000;
    color: #fff;
    line-height: initial;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    text-align: center;
    font-weight: bold;
}
[apx_load="functions"] button{padding:0;background: transparent;}
[apx_load="functions"] > div.row > div.col > button img,
[apx_load="functions"] > div > div > a img{
    height:var(--header_i_height)
}




/*
apx_load="menu"
apx_load="menu_extra"
*/

[apx_load="menu_extra"]{}
[apx_load="menu"] .nivel-um > li > a > strong,
[apx_load="menu_extra"] nav a{
    font-size:var(--header_f_size);
    font-family:var(--header_f_family), Helvetica, sans-serif;
    color:var(--header_f_color);
    font-weight:bold;    
    text-transform: uppercase;
}
[apx_load="menu_extra"] nav a:hover{
    transition: var(--transition);
}

[apx_load="menu"] .menu.superior{
    margin: 0;
    background-color: transparent;
}

[apx_load="menu"] .nivel-um:before,
[apx_load="menu"] .nivel-um:after,
[apx_load="menu"] .icon-chevron-down{display:none!important}


[apx_load="menu"] .nivel-um{
    /* like a row */
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
[apx_load="menu"] .menu.superior .nivel-um > li{
    /* like a col */
    box-sizing: border-box;    
    width: auto;
    max-width: auto;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    flex: 0 0  auto;
    border: 0;
    float: none;
    border-right: 0;
}
@media(min-width:768px){
    [apx_load="menu"] .menu.superior .nivel-um > li{
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }
}

/* apx_load="logo" */
[apx_load="logo"]{}
[apx_load="logo"] .logo{font-size:initial;line-height:initial}
[apx_load="logo"] .logo a{height:auto;}
[apx_load="logo"] .logo img{position: relative;}


/* cdsg - header fixed */
#cdsg_header_fixed{
    background:#1E1E1E;
    position: fixed;
    width: 100%;
    z-index: 999;
    translate: 0 -101%;
    transition: var(--transition);
}
#cdsg_header_fixed.visible{
    translate: 0 0%;
}
[apx_load="functions"].invert img{filter: brightness(0) invert(1);}
[apx_load="menu"].invert .nivel-um > li > a > strong, [apx_load="menu_extra"].invert nav a{color:#fff}
[apx_load="functions"].invert .carrinho > a strong.qtd-carrinho{background:var(--green)}

/* dsg_header_default*/
#cdsg_header_default{
    border-bottom: 1px solid #DCDCDC
}
/* topbar */
.cdsg_topbar{
    background-color:var(--cms_topbar_background_color);
    overflow:hidden;
    width:100%;
}
.cdsg_topbar .item *{
    color:var(--cms_topbar_text_color);
    text-transform:uppercase;
    font-size:var(--topbar_f_size);
    font-family:var(--topbar_f_family);
    font-weight:bold;
}
.cdsg_topbar .item{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;    
}
.cdsg_topbar .apx_arrow{
    background:transparent;
    padding:0;
    margin:0;
    position:absolute;
    top: 50%;
    translate: 0% -50%;
    left:0;
    z-index:2;
}

.cdsg_topbar .apx_arrow.next{
    right:0;
    left:auto;
}

/* product list */
.listagem-item .bandeiras-produto{display:none}
.titulo-categoria,
.titulo-categoria:hover{
    background: transparent!important;
    border: 0;
    padding: 0!important;
    margin:1.5rem 0 1rem 0!important;
}

.titulo-categoria strong{
    font-size:var(--title_f_size);
    font-family:var(--title_f_family);
    font-weight:bold;
    color:var(--title_f_color);
    text-transform: uppercase;
}

.listagem .listagem-item{margin-left:0;transition:unset;padding:0}
.listagem-item{
    background:#F9F9F9;
    border-radius:10px;
}
.listagem > ul.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.listagem-item .info-produto{
    padding:15px;
}
.listagem-item .info-produto > a.nome-produto{
    font-size:var(--product_list_title_f_size);
    font-family:var(--product_list_f_family);
    color:var(--product_list_title_f_color);
    line-height: initial;
}
.listagem-item .info-produto [data-sell-price]{
    font-size:var(--product_list_price_f_size);
    font-weight: bold;
    font-family:var(--product_list_f_family);
    color:var(--product_list_title_f_color);
}
.listagem-item .info-produto s.preco-venda{
    font-size:var(--product_list_price_strike_f_size);
    font-weight: bold;
    font-family:var(--product_list_f_family);
    color:var(--product_list_strike_f_color);
    display:block;
    margin:0;
}
.listagem-item .info-produto .preco-parcela{display:none}
.listagem-item .acoes-produto,
.listagem-item:hover .acoes-produto{
    background: rgb(30 30 30 / 60%);
    height: 100%;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}
.listagem-item .acoes-produto > a{
    font-size: var(--product_list_see-more_f_size);
    color: #fff;
    font-weight: bold;
    font-family: var(--product_list_f_family);
    text-transform: uppercase;
    border: 0;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    translate: -50% -50%;
}

.listagem-item .produto-sobrepor,
.listagem-item .acoes-produto > a .icon-search{display:none}

.listagem-item .acoes-produto > a:before{
    content: "";
    background-image: url(https://cdn.jsdelivr.net/gh/Cansei-De-Ser-Gato/li_cdsg/assets/product_list-see-more.svg);
    display: block;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 20px;
    width: 39px;
    margin: auto auto 20px auto;
}

.listagem-item .cdsg_colors{margin-bottom:1.5rem;min-height:18px;}
.listagem-item .cdsg_colors:empty{display:none;}
.listagem-item .cdsg_colors > div{display:flex;gap:5px;}
.listagem-item .cdsg_colors span{
    height: 18px;
    width: 18px;
    display: inline-block;
    border-radius: 50%;
}
.listagem .listagem-item{padding-top:1px}
.listagem .listagem-item .imagem-produto{margin:15px;border-radius:10px;overflow:hidden;background:#fff}

.listagem .listagem-item .nome-produto{min-height:unset;margin-bottom:1.5rem}


/* apx_load="categoryIconList" */
.cdsg_categoryIconListHeader h3{
    color:var(--categoryIconList_f_color);
    font-size:var(--categoryIconList_f_size);
    font-family:var(--categoryIconList_f_family);
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cdsg_categoryIconListHeader h3:before{
    content:"";
    display: block;
    height:2px;
    background:#1e1e1e;
    width:40px;
}
.cdsg_home-categoryIconList hr{
    border:0;
    border-top: 1px solid #d9d9d9;
    margin:2rem 0 0 0;
}
[apx_load="categoryIconList"]{}
[apx_load="categoryIconList"] .items{
    display: flex;
    gap: 25px;
    align-items: flex-start;
}
[apx_load="categoryIconList"] .items a{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size:var(--categoryIconList-item_f_size);
    font-family:var(--categoryIconList-item_f_family);
    font-weight:500;
    color:var(--categoryIconList-item_f_color);
    max-width: 130px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 111px;
}
[apx_load="categoryIconList"] .items a img{
    border-radius: 50%;
    width: 111px;
}

/* cdsg_list_side_banner */
.banner.vitrine{display:none}
.banner_vitrine_home{margin-top:5rem;margin-bottom:5rem;}
.cdsg_list_side_banner{z-index:3}
.cdsg_list_side_banner a{
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cdsg_list_side_banner a img{width: fit-content;max-width: 100%;}
.cdsg_list_side_banner a p.titulo.info-banner{
    all: unset;
    font-size: var(--product_list_side_banner_title_f_size);
    font-family: var(--title_f_family);
    font-weight: bold;
    color: #281717;
    text-transform: uppercase;
    margin-top: -2.5rem;
}
.cdsg_list_side_banner a button{
    font-size: var(--product_list_side_banner_button_f_size);
    font-family: var(--title_f_family);
    font-weight: bold;
    text-transform: uppercase;
    background: var(--green);
    color: #fff;
    line-height: 44px;
    padding: 0 2rem;
    border-radius: 44px;
    margin-top: 1.5rem;
}

/* slick */
.apx_arrow{
    position:absolute;
    top: 50%;
    translate: 0 -50%;
    left: 0;
    background: transparent;
}
.apx_arrow.next{
    left: auto;
    right: 0;    
}
.apx_arrow.next img{rotate: 180deg;}

/* home product slider */
[data-produtos-linha].slick-slider .slick-slide{
    margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);
}
[data-produtos-linha].slick-slider .slick-list{padding:0;}
[data-produtos-linha].slick-slider{margin-bottom: 4rem;}
[data-produtos-linha] .apx_arrow{
    position: absolute;
    top: 0;
    height:100%;
    width:150px;
    background: rgba(255,255,255,.5);
    left:0;
    z-index:2;
}
[data-produtos-linha] .apx_arrow.prev{display:none!important;}
[data-produtos-linha] .apx_arrow.next{
    left:auto;
    right:0;
}
[data-produtos-linha] .apx_arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

[data-produtos-linha] .slick-dots{
    border-bottom: 1px solid #d9d9d9;
    display: flex!important;
    width: calc(100% - 30px);
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -2rem;
}

[data-produtos-linha] .slick-dots{margin-left:15px;margin-right:15px;}
[data-produtos-linha] .slick-dots li{
    flex: 1 1 100%;
    height: initial;
    line-height: initial;
    margin-bottom: -8px;
}
[data-produtos-linha] .slick-dots li button{font-size:0;background:transparent;
    height: 6px;
    width:100%;
    border-radius: 4px;
}
[data-produtos-linha] .slick-dots li button:before{
    height: 6px;
    width:100%;
    border-radius: 4px;
    display:block;
    content:"";
    transition: var(--transition);
}
[data-produtos-linha] .slick-dots li.slick-active button:before{
    background:#1f1b1b;
    
}
[data-produtos-linha] .slick-dots li.slick-active button{}
[data-produtos-linha] .slick-list{overflow:visible}
[data-produtos-linha]:before{
    content: "";
    display:block;
    background: #fff;
    height: 100%;
    width: 100vw;
    position: absolute;
    right: 100%;
    z-index: 2;
}

[data-produtos-linha].slick-slider .apx_arrow.next{
    top: 0;
    translate: unset;
    margin-right: calc(calc(100vw - 1320px) * -0.48);
}
.banner_vitrine_home .apx_arrow.next{
    margin-right: calc(calc(100vw - 1320px) * -0.452)!important;
}

[data-produtos-linha].slick-slider .col-6.col-md-3{margin-bottom:0!important}
/* mais vendidos */
.box-mais-vendidos [data-produtos-linha],
.box-mais-vendidos [data-produtos-linha]:before,
.box-mais-vendidos [data-produtos-linha]:after{
    display:block;
    background:#F2F2F2;
    top:0;
}
.box-mais-vendidos [data-produtos-linha]:after{
    content:"";
    height:100%;
    width:100vw;
    left:100%;
    position:absolute;
    z-index:-1;
}
.box-mais-vendidos .listagem-item{
    background:#fff;
    border-radius: 10px;
    overflow: hidden;
}
.box-mais-vendidos .listagem-item .info-produto{
    background:#D9D9D9
}
.box-mais-vendidos .listagem-item .info-produto > a.nome-produto{
    font-size:calc(var(--product_list_title_f_size) * .8);
    font-weight:bold;
    margin: 0;
}
.box-mais-vendidos [data-produtos-linha]{
    padding:1.5rem 0;
    margin-bottom: 0;
}
.box-mais-vendidos [data-produtos-linha] .slick-dots{
    position: relative;
    bottom: 0;
    margin-top:1rem;
}
.box-mais-vendidos [data-produtos-linha] .slick-dots button{

}
.box-mais-vendidos [data-produtos-linha] .slick-dots li.slick-active button:before{
    background:var(--violet)
}

/* fullbanner slider */
.secao-banners .conteiner{
    max-width:100%;
    padding:0!important;
}

/* apx_load="testimonials" */

[apx_load="testimonials"]{margin:2rem 0 8rem 0}
[apx_load="testimonials"] .item:before,
[apx_load="testimonials"] .item:after{
    content: "";
    background-image: var(--quote);
    height: 43px;
    width: 47px;
    position: absolute;
    top: 0;
    left: 6rem;
}
[apx_load="testimonials"] .item:after{
    rotate: 180deg;
    top: auto;
    bottom: 0;
    right: 6rem;
    left: auto;
}
[apx_load="testimonials"] .item{
    padding:3rem 10rem 0rem 10rem;
    color: #000;
    text-align: center;
    position: relative;
}
[apx_load="testimonials"] .item strong{
    font-size:var(--testimonial_name_f_size);
    font-weight: bold;
}
[apx_load="testimonials"] .item p{
    font-size:var(--testimonial_content_f_size);
    font-weight:400;
    margin-bottom: 2rem;
}

[apx_load="testimonials"] .slick-dots{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 2rem 0 0 0;
    position: absolute;
    top: 100%;
    width: 100%;
}
[apx_load="testimonials"] .slick-dots button{
    font-size: 0;
    width: 16px;
    height: 16px;
    background: #f2f2f2;
    border: 3px solid #fff;
    border-radius: 50%;
}
[apx_load="testimonials"] .slick-dots .slick-active{}
[apx_load="testimonials"] .slick-dots .slick-active button{
    border: 3px solid var(--green);
}

/* apx_load="benefits" */
[apx_load="benefits"]{}
[apx_load="benefits"] > .container{position: relative;}
[apx_load="benefits"] > .container:before{
    content:"";
    height:100%;
    width: 100vw;
    left: 50%;
    translate: -50%;
    top: 0;
    background: var(--cms_benefits_background_color);
    position: absolute;
}
[apx_load="benefits"] *{
    color: var(--cms_benefits_text_color);
}
[apx_load="benefits"] .item .image{
    display: flex;
    height: 80px;
    align-items: flex-end;
    justify-content: center;
    margin: 0 0 1rem 0;
}
[apx_load="benefits"] .item .image img{
    width: auto;
    height: auto;
}
[apx_load="benefits"] .item p{}
[apx_load="benefits"] .cdsg_benefits{position: relative;z-index:1}

.cdsg_benefits .item{
    position: relative;
    justify-content: center;
    padding: 0 1.5rem;
}
.cdsg_benefits .item p{
    font-size: var(--benefits_f_size);
    font-weight: bold;
    text-align: center;
}
@media(min-width:990px){
    .cdsg_benefits{
        display:flex;
    }
    .cdsg_benefits .item{
        position: relative;
        flex: 1 1 16.6666666666666666666%;
    }
    .cdsg_benefits .item:not(:last-child):before{
        content: "";
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: var(--cms_benefits_text_color);
        position: absolute;
        display: block;
        opacity: .3;
    }
}

/* newsletter footer */
body:not(.pagina-inicial) #barraNewsletter{margin-bottom: 3rem;}
#barraNewsletter,
#barraNewsletter .conteiner,
#barraNewsletter.posicao-rodape .conteiner,
#barraNewsletter .componente{
    background-color: transparent!important;
    box-shadow: 0px 0px 0px;
}
#barraNewsletter .componente .texto-newsletter.newsletter-cadastro:before{
    content:"Receba nossas novidades";
    font-size:var(--newsletter_title_f_size);
    font-weight: bold;
    color: #000;
    display: block;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
#barraNewsletter .componente .texto-newsletter, #barraNewsletter .componente .input-conteiner{
    text-align: left;
    font-size:var(--newsletter_text_f_size);
    color: #000;
    font-weight: 400;
}
#barraNewsletter.posicao-rodape .componente .interno-conteudo {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}
#barraNewsletter .componente div.newsletter-cadastro{
    width: 100%;
    display: flex;
    gap: 0;
}
#barraNewsletter .componente input[type="text"]{
    height: 52px;
    border: 1px solid #d9d9d9;
    border-radius: 10px 0 0 10px;
    background: #f9f9f9;
    box-shadow: unset;
    max-width: unset;
    width: 100%;
    margin: 0;
    padding: 0 1.5rem;
    font-size:var(--newsletter_btn_f_size);
}
#barraNewsletter .componente .newsletter-assinar:after{
    content: "Me conta, chico.";
    text-transform: uppercase;
    line-height: initial;
    font-size:var(--newsletter_btn_f_size);
    font-family:var(--body_f_family)
}
#barraNewsletter .componente .newsletter-assinar{
    background: var(--green);
    border-radius: 0 10px 10px 0;
    margin: 0;
    padding: 0 3rem;
    border: 0;
    position: relative;
    font-size: 0;
}
#barraNewsletter .componente.newsletter{
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* apx_load="social" */
[apx_load="social"]{}
[apx_load="social"] > div{
    font-size:var(--newsletter_text_f_size);
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    gap: 2rem;
    align-items: center;
}
[apx_load="social"] > div > div{
    display: flex;
    gap: 10px;
}
[apx_load="social"] > div a{
    color: #000;
    font-size: 16px;
}

/* footer */
#rodape #cdsg_footer{
    background: #F2F2F2;
    border-top: 1px solid #d9d9d9;
    color: #1e1e1e;
}
#rodape #cdsg_footer h4{
    font-size: var(--footer_title_f_size);
    font-weight: bold;
    text-transform: uppercase;
    color: #1e1e1e;
    margin-bottom: 1.5rem;
}
[apx_load="menu_footer"]{}
[apx_load="menu_footer"] ul{
    padding: 0;
    margin: 0 0 3.5rem 0;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
[apx_load="menu_footer"] ul:after{display: none;}
[apx_load="menu_footer"] ul li{}
[apx_load="menu_footer"] ul li a{
    font-size: var(--footer_menu_f_size);
    color: #1e1e1e;
    text-transform: uppercase;
}




/* apx_load="find_where_form" */
[apx_load="find_where_form"] form{
    display: flex;
    align-items: center;
    width: 100%;
}
[apx_load="find_where_form"] input::placeholder{color:#000;}
[apx_load="find_where_form"] input{
    border-radius: 52px 0 0 52px ;
    height: 52px;
    font-size: var(--footer_menu_f_size);
    border: 0;
    padding: 0 1rem;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
}
[apx_load="find_where_form"] button{
    border-radius: 0 52px 52px 0;
    font-size:var(--newsletter_btn_f_size);
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: var(--violet);
    padding: 0 1.5rem;

}


/* [apx_load="contact_phone"] */
[apx_load="contact_phone"]{
    font-size: var(--footer_menu_f_size);
    color:#1e1e1e
}
[apx_load="contact_phone"] b{border-bottom: 1px solid;padding-bottom: 2px;}

/* apx_load="contact_hour" */
[apx_load="contact_hour"]{
    font-size: var(--footer_menu_f_size);
}

/*apx_load="contact_mail"*/
[apx_load="contact_mail"]{
    font-size: var(--footer_menu_f_size);
    text-transform: uppercase;
}

/* apx_load="footer_payments" */
[apx_load="footer_payments"]{}
[apx_load="footer_payments"] i,
[apx_load="footer_secure"] ul li{
    filter: grayscale(1);
}

[apx_load="footer_secure"] ul,
.bandeiras-pagamento{margin: 0;display: flex;flex-wrap: wrap;gap: 10px;}

[apx_load="footer_secure"] ul li,
.bandeiras-pagamento li{margin: 0;}

.footer_bottom h4{margin-top: 0!important;margin-bottom: 0!important;}
.bandeiras-pagamento i{display: block;}

#rodape > div:last-child{background: var(--green)!important;}
#rodape > div:last-child *{color:#000;font-weight: bold;}
#rodape > div:last-child .row-fluid:before,
#rodape > div:last-child .row-fluid:after{display: none;}
#rodape > div:last-child .row-fluid {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}
#rodape > div:last-child .row-fluid > div{
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    flex: 0 0 auto;
    width: auto!important;
    max-width: fit-content;
}

#rodape #cdsg_footer hr{border-color: #d9d9d9;border-bottom: 0;margin-top: 0;}


/* side help */
.cdsg_sideHelp{
    position: fixed;
    top: auto;
    right: 0;
    bottom: 20%;
    z-index: 3;
}
.cdsg_sideHelp-menu{position: absolute;bottom: 0;left: 100%;}
.cdsg_sideHelp .triggers{display: flex;flex-direction: column;gap: 5px;}
.cdsg_sideHelp .triggers > div > button,
.cdsg_sideHelp .triggers > a{
    background-color: #1e1e1e;
    width: 54px;
    display: block;
    min-height: 46px;
    text-align: center;
}
.cdsg_sideHelp .triggers > a{line-height: 42px;}
.cdsg_sideHelp .triggers > div > button span{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    rotate: -90deg;
    display: block;
}
.cdsg_sideHelp .triggers > div > button{padding: 1.2rem 0 2.5rem 0;}
.cdsg_sideHelp .triggers > div > button i{
    display: flex;
    gap: 5px;
    width: 21px;
    flex-direction: column;
    margin: 0 auto 2rem auto;
}
.cdsg_sideHelp .triggers > div > button i:after,
.cdsg_sideHelp .triggers > div > button i:before{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
}

/* apx_load="instafeed" */
[apx_load="instafeed"]{}
[apx_load="instafeed"] a{aspect-ratio: 1;display: block;}
[apx_load="instafeed"] a img{height: 100%;object-fit: cover;}
[apx_load="instafeed"] span{display: none;}
.cdsg_instafeed_home b{
    font-size:var(--instafeed_title_f_size);
    color: #000;
}

/* apx_load="search" */
#cdsg_header_fixed [apx_load="search"]{display: none;}
#cdsg_header > div > .container{position: relative;}
[apx_load="search"].visible{
    opacity: 1;
    pointer-events: all;
}
[apx_load="search"]{
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    width: 100%;
    padding: 3rem 0;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
}
[apx_load="search"]:before{
    content: "";
    height: 100%;
    background:#f2f2f2;
    width: 100vw;
    left: 50%;
    translate: -50% 0;
    position: absolute;
    z-index: -1; 
    top: 0;
}

[apx_load="search"] form{
    height: 105px;
    border-radius: 50px;
    width: 100%;
    background: #fff;
    display: flex;
    padding: 0 1rem 0 2rem;
    max-width: 910px;
    margin: 0 auto;
    align-items: center;
}
[apx_load="search"] form input::placeholder{font-weight: 300;}
[apx_load="search"] form input{
    font-size: var(--search_input_f_size);
    height: 105px;
    border-radius: 50px;
    border: 0;
    padding: 0 2rem;
    width: -webkit-fill-available;
    box-shadow: 0px 0px 0px!important;
    outline: 0px;
    margin: 0;
    font-weight: normal;
    color: #000;
}
[apx_load="search"] form button:first-child,
[apx_load="search"] form button:first-child:hover{
    box-shadow: 0px 0px 0px;
    border: 0;
    background: transparent;
    min-width: 44px;
}
[apx_load="search"] .clear_list{
    background: #f2f2f2;
    position: relative;
    height: 84px;
    min-width: 84px;
    border-radius: 100%;
    display: none;
}
[apx_load="search"] .clear_list:before,
[apx_load="search"] .clear_list:after{
    content: "";
    height: 26px;
    width: 1px;
    background: #1e1e1e;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: 45deg;
}
[apx_load="search"] .clear_list:after{rotate: -45deg;}

[apx_load="search"] .count > div:not(:empty){margin-top: 3rem;margin-bottom: 2rem;}
[apx_load="search"] .count{
    font-weight: bold;
    font-size: 20px;
    color: #1e1e1e;
    text-transform: uppercase;
}
[apx_load="search"] .count a{
    font-size: 12px;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #1e1e1e;    
    padding-bottom: 2px;
    color: #1e1e1e;
}
[apx_load="search"] .count b{
    border-bottom: 1px solid #1e1e1e;
    padding-bottom: 2px;
}

[apx_load="search"] .results-products .list{}
[apx_load="search"] .results-products .list .item:hover{
    opacity: .7;
}
[apx_load="search"] .results-products .list .item{
    background:#fff;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    transition: var(--transition);
}
[apx_load="search"] .results-products .list .item button{
    position: absolute;
    top: 15px;
    right: 15px;
}
[apx_load="search"] .results-products .list .item .name{
    font-size:var(--search_product_f_size);
    font-weight: bold;
    color: #1e1e1e;
    box-sizing: content-box!important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

[apx_load="search"] .cdsg_search_trigger{
    position: absolute;
    top: 3rem;
    right: .5rem;
    height: 31px;
    width: 31px;
    background: transparent;
    border: 0;
    padding: 0;
}
[apx_load="search"] .cdsg_search_trigger:after,
[apx_load="search"] .cdsg_search_trigger:before{
    content: "";
    height: 100%;
    width: 1px;
    background: #1e1e1e;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: 45deg;
}
[apx_load="search"] .cdsg_search_trigger:before{rotate: -45deg;}


/* breadcrumb */
.breadcrumbs{border: 0;
    --bs-gutter-x: 1.5rem;
}
.breadcrumbs i{display:none}
.breadcrumbs ul{
padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.breadcrumbs ul li{display:flex;border: 0!important;align-items: center;}
.breadcrumbs ul li *{
    color:#000000;
    font-size:var(--breadcrumb_f_size)
}
.breadcrumbs ul li a{}
.breadcrumbs ul li strong{}

.breadcrumbs ul li:not(:first-child):before,
.breadcrumbs ul li:not(:first-child):after{
    content: "";
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    float: left;
    height: 4px;
    width: 4px;
    rotate: 45deg;
    vertical-align: middle;
    order: -1;
    margin: 5px 0 0 0;
}

/* 404 */
.pagina-404{color: #1e1e1e;}
.pagina-404 h1{
    font-weight: bold;    
    font-size: var(--forbiden_f_title);
}
.pagina-404 p{
    font-size: var(--forbiden_f_text);
    margin: 0;
}

/* FAQ */
.caixa-sombreada{box-shadow:0px 0px 0px;padding:0}

#cdsg_faq{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#cdsg_faq li{
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 1rem;
}
#cdsg_faq li a{
    font-size: var(--faq_menu_f_text);
    font-weight: bold;
    color: #1e1e1e;
    text-transform: uppercase;
}

.cdsg_faq_content *{
    color: #1e1e1e;
}
.cdsg_faq_content h1{
    font-size: var(--faq_f_title);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 0;
    line-height: initial;
}
.cdsg_faq_content p{
    font-size: var(--faq_f_text);
    line-height: calc(var(--faq_f_text) * 1.5);
    margin-bottom: 2rem;
}


.cdsg_side_page_bar b,
.cdsg_side_page_bar  p{
    color: #1e1e1e;
    font-size: 16px;
}

#cdsg_footer p {font-size: 16px;margin-bottom: 2rem;}

.cdsg_side_page_bar .side_img{
    
}